body {
font-family: Arial;
margin: 40px;
   
}

body {
background-color: #ffff;
text-align: center;
}

input, select, button {
    padding: 8px;
    color: black;
}

button {
    cursor: pointer;
}

li {
    margin: 8px;
}

